<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>
    {% include 'app/link.html' %}

</head>

<body class="body-wrapper">
{% include 'app/header.html' %}

<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center mx-auto">
                <div class="404-img">
                    <img src="/static/images/404/404.png" class="img-fluid" alt="">
                </div>
                <div class="404-content">
                    <h1 class="display-1 pt-1 pb-2">Oops</h1>
                    <p class="px-3 pb-2 text-dark">Something went wrong,we can't find the page that you are looking for
                        :(But there is a lot more for you!</p>
                    <a href="/index" class="btn btn-info">GO HOME</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->

 {% include 'app/footer.html' %}

<!-- JAVASCRIPTS -->
{% include 'app/script.html' %}
</body>

</html>