<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>

    {% include 'app/link.html' %}

</head>

<body class="body-wrapper">

{% include 'app/header.html' %}

{% include 'app/search.html' %}

<section class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-result bg-gray">
                    {% if title != '' %}
                        <h2>"{{ title }}"的搜索结果</h2>
                    {% elif type == '0' %}
                        <h2>所有分类图书的搜索结果</h2>
                    {% elif type == '1' %}
                        <h2>所有教育类图书的搜索结果</h2>
                    {% elif type == '2' %}
                        <h2>所有文艺类图书的搜索结果</h2>
                    {% elif type == '3' %}
                        <h2>所有人文社科类图书的搜索结果</h2>
                    {% elif type == '4' %}
                        <h2>所有生活类图书的搜索结果</h2>
                    {% elif type == '5' %}
                        <h2>所有经管类图书的搜索结果</h2>
                    {% elif type == '6' %}
                        <h2>所有科技类图书的搜索结果</h2>
                    {% elif type == '7' %}
                        <h2>所有童书类图书的搜索结果</h2>
                    {% elif type == '8' %}
                        <h2>所有励志类图书的搜索结果</h2>
                    {% endif %}
                    <p>{{ total }} 条结果， {{ time|date:"Y-m-d H:i:s" }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="category-sidebar">
                    <div class="widget category-list">
                        <h4 class="widget-header">所有分类</h4>
                        <ul class="category-list">
                            <li><a href="{% url 'list' 1 1 %}?sort={{ sort }}&title={{ title }}"> 教 育
                                <span>{{ count.1 }}</span></a></li>
                            <li><a href="{% url 'list' 2 1 %}?sort={{ sort }}&title={{ title }}"> 文 艺
                                <span>{{ count.2 }}</span></a></li>
                            <li><a href="{% url 'list' 3 1 %}?sort={{ sort }}&title={{ title }}"> 人文社科
                                <span>{{ count.3 }}</span></a></li>
                            <li><a href="{% url 'list' 4 1 %}?sort={{ sort }}&title={{ title }}"> 生 活
                                <span>{{ count.4 }}</span></a></li>
                            <li><a href="{% url 'list' 5 1 %}?sort={{ sort }}&title={{ title }}"> 经 管
                                <span>{{ count.5 }}</span></a></li>
                            <li><a href="{% url 'list' 6 1 %}?sort={{ sort }}&title={{ title }}"> 科 技
                                <span>{{ count.6 }}</span></a></li>
                            <li><a href="{% url 'list' 7 1 %}?sort={{ sort }}&title={{ title }}"> 童 书
                                <span>{{ count.7 }}</span></a></li>
                            <li><a href="{% url 'list' 8 1 %}?sort={{ sort }}&title={{ title }}"> 励 志
                                <span>{{ count.8 }}</span></a></li>
                        </ul>
                    </div>

                    <div class="widget filter">
                        <h4 class="widget-header">排序规则</h4>
                        <select>
                            <option value="1">价格升序</option>
                            <option value="2">价格降序</option>
                            <option value="3">最新发布</option>
                        </select>
                    </div>

                    <div class="widget price-range w-100">
                        <h4 class="widget-header">Price Range</h4>
                        <div class="block">
                            <input class="range-track w-100" type="text" data-slider-min="0" data-slider-max="5000"
                                   data-slider-step="5" data-slider-value="[0,5000]">
                            <div class="d-flex justify-content-between mt-2">
                                <span class="value">$10 - $5000</span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="category-search-filter">
                    <div class="row">
                        <div class="row col-md-12">
                            <!-- <div class="col-md-3">
                                <strong>排序规则</strong>
                            </div> -->
                            <div class="col-md-8">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link disabled"><strong>排序规则</strong></a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'list' type 1 %}?sort=ascending&title={{ title }}"
                                                {% if sort == 'ascending' %}
                                           class="nav-link active" {% else %} class="nav-link" {% endif %}>价格升序</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'list' type 1 %}?sort=descending&title={{ title }}"
                                                {% if sort == 'descending' %}
                                           class="nav-link active" {% else %} class="nav-link" {% endif %}>价格降序</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'list' type 1 %}?sort=latest&title={{ title }}"
                                                {% if sort == 'latest' %}
                                           class="nav-link active" {% else %} class="nav-link" {% endif %}>最新发布</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- ad listing list  -->
                <!-- good 1-->
                {% for book in book_page %}
                    <div class="ad-listing-list mt-20">
                        <div class="row p-lg-3 p-sm-5 p-4">
                            <div class="col-lg-4 align-self-center">
                                <a href="{% url 'book' book.id %}">
                                    <img src="{{ book.img.url }}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-8 col-md-10">
                                        <div class="ad-listing-content">
                                            <div>
                                                <a href="{% url 'book' book.id %}"
                                                   class="font-weight-bold">{{ book.title }}</a>
                                            </div>
                                            <ul class="list-inline mt-2 mb-3">
                                                <li class="list-inline-item" id="type"><a href="{% url 'list' book.type 1 %}?sort=ascending&title="> <i
                                                        class="fa fa-folder-open-o"></i>{{ book.type }}</a></li>
                                                <li class="list-inline-item"><i
                                                        class="fa fa-calendar"></i>{{ book.time|date:"Y-m-d H:i:s" }}</li>
                                            </ul>
                                            <p class="pr-5">{{ book.info|truncatechars:100 }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 align-self-center">
                                        <div class="product-ratings float-lg-right pb-3">
                                            <div class="font-weight-bold price text-left text-black-50"
                                                 style="margin-bottom: 20px">
                                                ¥{{ book.sellingPrice }}
                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- ad listing list  -->

                <!-- pagination -->
                <div class="pagination justify-content-center py-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if book_page.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{% url 'list' type book_page.previous_page_number %}?sort={{ sort }}&title={{ title }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for pindex in pages %}
                                {% if pindex == book_page.number %}
                                    <li class="page-item active"><a class="page-link"
                                                                    href="{% url 'list' type pindex %}?sort={{ sort }}&title={{ title }}">{{ pindex }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                                             href="{% url 'list' type pindex %}?sort={{ sort }}&title={{ title }}">{{ pindex }}</a>
                                    </li>
                                {% endif %}
                                {# <li class="page-item"><a class="page-link" href="#">3</a></li>#}
                            {% endfor %}
                            {% if book_page.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{% url 'list' type book_page.next_page_number %}?sort={{ sort }}&title={{ title }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- pagination -->
            </div>
        </div>
    </div>
</section>

<!--============================
=            Footer            =
=============================-->
{% include 'app/footer.html' %}
{% include 'app/script.html' %}

<script>
    $(document).ready(function () {
        var typeDic = {
            ' 1': '教育',
            ' 2': '文艺',
            ' 3': '人文社科',
            ' 4': '生活',
            ' 5': '经管',
            ' 6': '科技',
            ' 7': '少儿',
            ' 8': '励志'
        };
        $('li#type>a').each(function () {
            var id = $(this).text();
            console.log(id);
            $(this).html("<i class=\"fa fa-folder-open-o\"></i> " + typeDic[id] + " ");
        });
    });
    $('button#search').click(function () {
        var title = $('input#title').val();
        var type = $('div.form-control>ul.list>li.selected').attr("data-value");
        console.log(title, type);
        // window.location.replace("http://www.jb51.net");
        window.location.href = "/list/" + type + "/1?sort=ascending&title=" + title;
        return false;
    })
</script>
</body>

</html>