<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light navigation">
                    <a class="navbar-brand" href="/">
                        <img src="/static/images/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto main-nav ">
                            <!-- 主页 -->
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}">主页</a>
                            </li>
                            <!-- 个人中心 -->
                            <li class="nav-item dropdown dropdown-slide">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="">个人中心<span><i
                                        class="fa fa-angle-down"></i></span>
                                </a>

                                <!-- Dropdown list -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'my-ad' 1 %}">我的商品</a>
                                    <a class="dropdown-item" href="{% url 'message' 1 %}">消息中心</a>
                                    <a class="dropdown-item" href="{% url 'cart' 1 %}">购物车</a>
                                    <a class="dropdown-item" href="{% url 'edit' %}">编辑个人信息</a>
                                    {#                                    <a class="dropdown-item" href="dashboard-archived-ads.html">Dashboard Archived#}
                                    {#                                        Ads</a>#}
                                    {#                                    <a class="dropdown-item" href="dashboard-pending-ads.html">Dashboard Pending Ads</a>#}
                                </div>
                            </li>
                            <!-- 商品列表 -->
                            <li class="nav-item dropdown dropdown-slide">
                                <a class="nav-link dropdown-toggle" href="{% url 'list' 0 1 %}?sort=ascending&title="
                                   data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    商品列表<span><i class="fa fa-angle-down"></i></span>
                                </a>
                                <!-- Dropdown list -->
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'list' 1 1 %}?sort=ascending&title=">教育</a>
                                    <a class="dropdown-item" href="{% url 'list' 2 1 %}?sort=ascending&title=">文艺</a>
                                    <a class="dropdown-item" href="{% url 'list' 3 1 %}?sort=ascending&title=">人文社科</a>
                                    <a class="dropdown-item" href="{% url 'list' 4 1 %}?sort=ascending&title=">生活</a>
                                    <a class="dropdown-item" href="{% url 'list' 5 1 %}?sort=ascending&title=">经管</a>
                                    <a class="dropdown-item" href="{% url 'list' 6 1 %}?sort=ascending&title=">科技</a>
                                    <a class="dropdown-item" href="{% url 'list' 7 1 %}?sort=ascending&title=">童书</a>
                                    <a class="dropdown-item" href="{% url 'list' 8 1 %}?sort=ascending&title=">励志</a>
                                    {# <a class="dropdown-item" href="{% url 'list' 0 1 %}?sort=ascending&title=">Blog</a>#}

                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'want-list' 1 %}?sort=latest">求购信息</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto mt-10">
                            {% if request.user.is_authenticated == False %}
                                <li class="nav-item">
                                    <a class="nav-link login-button" href="{% url 'login' %}">登录</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link login-button" href="{% url 'register' %}">注册</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link login-button" href="{% url 'logout' %}">登出</a>
                                </li>
                                <li class="nav-item" style="margin-right: 4px; margin-left: 4px">
                                    <a class="nav-link text-white add-button" href="{% url 'adlisting' %}"><i
                                            class="fa fa-plus-circle"></i>发布新书</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white add-button" href="{% url 'want' %}"><i
                                            class="fa fa-plus-circle" style="margin-right: 4px; margin-left: 4px"></i>发布求购信息</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>