<!DOCTYPE html>
<html lang="en">
<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>
    {% include 'app/link.html' %}

</head>

<body class="body-wrapper">

{% include 'app/header.html' %}


<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border">
                    <h3 class="bg-gray p-4">账户登录</h3>
                    <form method="post" onsubmit="return validate()"> {% csrf_token %}
                        <fieldset class="p-4">
                            <input type="text" placeholder="用户名*" class="border p-3 w-100 my-2" id="username">
                            <input type="password" placeholder="密码*" class="border p-3 w-100 my-2" id="password">
                            <div class="loggedin-forgot">
                                <input type="checkbox" id="keep-me-logged-in">
                                <label for="keep-me-logged-in" class="pt-3 pb-2">保持我的登录状态</label>
                            </div>
                            <button type="submit"
                                    class="d-block py-3 px-5 bg-primary text-white border-0 rounded font-weight-bold mt-3">
                                登 录
                            </button>
                            <a class="mt-3 d-block  text-primary" href="#">忘记密码？</a>
                            <a class="mt-3 d-inline-block text-primary" href="register">立即注册</a>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'app/footer.html' %}
<!-- Footer Bottom -->

{% include 'app/script.html' %}
<script>
    function validate() {
        toastr.options.positionClass = 'toast-top-full-width';
        const username = $("#username").val();
        const password = $("#password").val();
        if (username === "") {
            toastr.warning("请填写用户名");
        } else if (password === "") {
            toastr.warning("请填写密码");
        } else {
            $.ajax({
                type: "POST",
                url: "/dologin/",
                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                data: {
                    "username": username,
                    "password": password,
                },
                timeout: 3000,
                success: function (xhr) {
                    if (xhr.status == 0) {
                        toastr.error("登录失败", "用户名或密码错误");
                    } else if (xhr.status == 1) {
                        window.location.href = "/index";
                    } else if (xhr.status == 2) {
                        window.location.href = "/index";
                    }
                },
                error: function (xhr) {
                    console.log('no');
                    toastr.error("请求失败");
                },
            });
        }
        return false;
    }
</script>

</body>

</html>