<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>

    {% include 'app/link.html' %}

</head>

<body class="body-wrapper">

{% include 'app/header.html' %}

<!-- page title -->
<!--================================
=            Page Title            =
=================================-->
<section class="page-title">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <!-- Title text -->
                <h3>生 成 订 单</h3>
            </div>
        </div>
    </div>
    <!-- Container End -->
</section>
<!-- page title -->

<!-- contact us start-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-details">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="product-title">{{ book.title }}</h1>
                        </div>
                        <div class="col-md-4 font-weight-bold price text-left text-black-50">
                            <!-- <div class="font-weight-bold price text-left text-black-50" style="margin-bottom: 20px"> -->
                            <h2>¥{{ book.sellingPrice }}</h2>
                            <!-- </div> -->
                        </div>
                    </div>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> 发布者：<a
                                    href="">{{ seller }}</a></li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> 分类：<a
                                    href="">{{ book.type }}</a></li>
                            <li class="list-inline-item"><i class="fa fa-calendar"></i> 发布时间：<a
                                    href="">{{ book.time|date:"Y-m-d" }}</a></li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="my-4" data-image="{{ book.img }}">
                        <img class="d-block img-fluid w-100" src="{{ book.img }}" alt="
                        product-img">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form action="#" method="post" onsubmit="return send()"> {% csrf_token %}
                    <fieldset class="p-4 mb-5">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h6 class="font-weight-bold pt-4 pb-1">联系方式：</h6>
                                <input type="text" placeholder="联系方式* " class="border p-2 w-100" id="phone" name="phone"
                                       required>

                                {% if book.trade == 'OL' %}
                                    <h6 class="font-weight-bold pt-4 pb-1">寄送地址：</h6>
                                    <input type="text" placeholder="寄送地址* " class="border p-2 w-100" id="address"
                                           name="address" required>
                                    <h6 class="font-weight-bold pt-4 pb-1">收件人：</h6>
                                    <input type="text" placeholder="收件人* " class="border p-2 w-100" id="timeorname"
                                           name="timeorname" required maxlength="30">
                                {% else %}
                                    <h6 class="font-weight-bold pt-4 pb-1">交易地址：</h6>
                                    <input type="text" placeholder="交易地址* " class="border p-2 w-100" id="address"
                                           name="address" required>
                                    <h6 class="font-weight-bold pt-4 pb-1">交易时间：</h6>
                                    <input type="text" placeholder="交易时间* " class="border p-2 w-100" id="timeorname"
                                           name="timeorname" required maxlength="30">
                                {% endif %}

                                {#                                <h6 class="font-weight-bold pt-4 pb-1">收件人：</h6>#}
                                {##}
                                {#                                <input type="email" placeholder="收件人* " class="border p-2 w-100" required>#}

                                <h6 class="font-weight-bold pt-4 pb-1">备注：</h6>
                                <textarea name="message" id="message" class="border p-2 w-100"
                                          rows="7" placeholder="订单的备注信息*" required></textarea>

                            </div>
                        </div>
                        <div class="col-lg-12 py-2">
                            <button type="submit" class="btn btn-primary mt-2 float-right" id="submit">提交订单</button>
                        </div>
                    </fieldset>
                </form>
            </div>


        </div>
    </div>
</section>
<!-- contact us end -->

<!--============================
=            Footer            =
=============================-->
{% include 'app/footer.html' %}

{% include 'app/script.html' %}

<script>
    function send() {
        toastr.options.positionClass = 'toast-top-full-width';
        var phone = $('input#phone').val();
        var address = $('input#address').val();
        var timeorname = $('input#timeorname').val();
        var message = $('textarea#message').val();
        console.log(phone, address, timeorname, message, window.location.pathname.split('/')[2]);
        if (phone.length > 15) {
            toastr.warning('联系方式不超过15个字符');
        } else {
            $.ajax({
                type: "POST",
                url: "/doorder/",
                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                data: {
                    'phone': phone,
                    'address': address,
                    'timeorname': timeorname,
                    'message': message,
                    'book_id': window.location.pathname.split('/')[2],
                },
                timeout: 3000,
                success: function (xhr) {
                    if (xhr.flag == 0) {
                        toastr.error('此书以出售');
                    } else if (xhr.flag == 1) {
                        window.location.href = "/index";
                    } else if (xhr.flag == 2) {
                        toastr.error('系统出错');
                    } else if (xhr.flag == 3) {
                        toastr.warning('您不能购买自己发布的图书');
                    } else {
                        toastr.error('系统出错');
                    }
                },
                error: function (xhr) {
                    toastr.error('系统出错');
                },
            });
        }
        return false;
    }
</script>
</body>

</html>