<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>
    {% include 'app/link.html' %}
</head>

<body class="body-wrapper">


{% include 'app/header.html' %}


<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="border border">
                    <h3 class="bg-gray p-4">用户注册</h3>
                    <form method="post" onsubmit="return validate()"> {% csrf_token %}
                        <fieldset class="p-4">
                            <input type="text" placeholder="用户ID*" class="border p-3 w-100 my-2" name="username"
                                   id="uname">
                            <input type="email" placeholder="电子邮箱*" class="border p-3 w-100 my-2" name="email" id="em">
                            <input type="password" placeholder="密码*" class="border p-3 w-100 my-2" name="password"
                                   id="pwd">
                            <input type="password" placeholder="确认密码*" class="border p-3 w-100 my-2"
                                   id="pwd_v">
                            <div class="loggedin-forgot d-inline-flex my-3">
                                <input type="checkbox" id="registering" class="mt-1">
                                <label for="registering" class="px-2">我已阅读并同意 <a class="text-primary font-weight-bold"
                                                                                 href="terms-condition.html">相关服务条款和隐私政策</a></label>
                            </div>

                            <button type="submit"
                                    class="d-block py-3 px-4 bg-primary text-white border-0 rounded font-weight-bold"
                                    id="submitbutton">立即注册
                            </button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'app/footer.html' %}
<!-- Footer Bottom -->

{% include 'app/script.html' %}

<script>
    function validate() {
        toastr.options.positionClass = 'toast-top-full-width';
        const pwd = $("#pwd").val();
        const pwd1 = $("#pwd_v").val();
        const email = $("#em").val();
        const username = $("#uname").val();
        if (pwd === "" || pwd1 === "") {
            toastr.warning("请填写密码");
        } else if (email === "") {
            toastr.warning("请填写邮箱");
        } else if (username === "") {
            toastr.warning("请填写用户名");
        } else if (pwd !== pwd1) {
            toastr.warning("密码不一致");
        } else if (pwd.length < 7) {
            toastr.warning('密码长度不能少于7位');
        } else if ($("#registering").is(':checked') === false) {
            toastr.warning("请同意服务条款和隐私政策",);
        } else {
            // toastr.success("提交成功");
            // return true;
            $.ajax({
                type: "POST",
                url: "/doregister/",
                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                data: {
                    "username": username,
                    "email": email,
                    "password": pwd,
                },
                timeout: 3000,
                success: function (xhr) {
                    console.log(xhr.status);
                    if (xhr.status == 0) {
                        console.log("00");
                        // alert(xhr.status);
                        toastr.success("注册成功");
                    } else if (xhr.status == 1) {
                        console.log("11");
                        // alert(xhr.status);
                        toastr.error("注册失败", "邮箱已被注册");
                    } else if (xhr.status == 2) {
                        console.log("22");
                        // alert(xhr.status);
                        toastr.error("注册失败", "用户名已被注册");
                    }
                },
                error: function (xhr) {
                    toastr.error("请求失败");
                }
            });
        }
        return false;
    }

</script>
</body>

</html>