<section class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Advance Search -->
                <div class="advance-search">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control my-2 my-lg-0" id="title"
                                       placeholder="What are you looking for">
                            </div>
                            <div class="form-group col-md-4">
                                <select class="w-100 form-control my-2mt-lg-0">
                                    <option value="0">不限分类</option>
                                    <option value="1">教育</option>
                                    <option value="2">文艺</option>
                                    <option value="3">人文社科</option>
                                    <option value="4">生活</option>
                                    <option value="5">经管</option>
                                    <option value="6">科技</option>
                                    <option value="7">童书</option>
                                    <option value="8">励志</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-primary" id="search">Search Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

