<!DOCTYPE html>
<html lang="en">

<head>

    <!-- SITE TITTLE -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Classimax</title>

    {% include 'app/link.html' %}

</head>

<body class="body-wrapper">

{% include 'app/header.html' %}
<section class="page-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Advance Search -->
                <div class="advance-search">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputtext4"
                                       placeholder="What are you looking for">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputCategory4"
                                       placeholder="Category">
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" class="form-control my-2 my-lg-0" id="inputLocation4"
                                       placeholder="Location">
                            </div>
                            <div class="form-group col-md-2">

                                <button type="submit" class="btn btn-primary">Search Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title">{{ book.title }}</h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a
                                    href="">{{ seller.username }}</a></li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i>分类：<a
                                    href="">{{ book.type }}</a></li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow"></i>位置：<a
                                    href="">Dhaka Bangladesh</a></li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider">
                        <div class="product-slider-item my-4" data-image="{{ book.img }}">
                            <img class="img-fluid w-100" src="{{ book.img }}" alt="product-img">
                        </div>
                        <div class="product-slider-item my-4" data-image="{{ book.img }}">
                            <img class="d-block img-fluid w-100" src="{{ book.img }}"
                                 alt="Second slide">
                        </div>
                        <div class="product-slider-item my-4" data-image="{{ book.img }}">
                            <img class="d-block img-fluid w-100" src="{{ book.img }}"
                                 alt="Third slide">
                        </div>
                        <div class="product-slider-item my-4" data-image="{{ book.img }}">
                            <img class="d-block img-fluid w-100" src="{{ book.img }}"
                                 alt="Third slide">
                        </div>
                        <div class="product-slider-item my-4" data-image="{{ book.img }}">
                            <img class="d-block img-fluid w-100" src="{{ book.img }}"
                                 alt="Third slide">
                        </div>
                    </div>
                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                                   role="tab" aria-controls="pills-home" aria-selected="true">图书描述信息</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                                   role="tab" aria-controls="pills-profile" aria-selected="false">图书属性</a>
                            </li>
{#                            <li class="nav-item">#}
{#								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"#}
{#								 aria-selected="false">Reviews</a>#}
{#							</li>#}
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                 aria-labelledby="pills-home-tab">
                                <h3 class="tab-title">图书描述信息</h3>
                                <p>{{ book.info }}</p>

                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                 aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">图书属性</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                    <tr>
                                        <td>书名</td>
                                        <td>{{ book.title }}</td>
                                    </tr>
                                    <tr>
                                        <td>作者</td>
                                        <td>{{ book.author }}</td>
                                    </tr>
                                    <tr>
                                        <td>语言</td>
                                        <td>{{ book.lan }}</td>
                                    </tr>
                                    <tr>
                                        <td>原价</td>
                                        <td>¥{{ book.origin }}</td>
                                    </tr>
                                    <tr>
                                        <td>售价</td>
                                        <td>¥{{ book.selling }}</td>
                                    </tr>
                                    <tr>
                                        <td>种类</td>
                                        <td>{{ book.type }}</td>
                                    </tr>
                                    <tr>
                                        <td>ISBN</td>
                                        <td>{{ book.isbn }}</td>
                                    </tr>
                                    <tr>
                                        <td>外部链接URL</td>
                                        <td>{{ book.url }}</td>
                                    </tr>
                                    <tr>
                                        <td>交易方式</td>
                                        <td>{{ book.trade }}</td>
                                    </tr>
                                    <tr>
                                        <td>发布时间</td>
                                        <td>{{ book.time|date:"Y-m-d" }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
{#                            <div class="tab-pane fade" id="pills-contact" role="tabpanel"#}
{#                                 aria-labelledby="pills-contact-tab">#}
{#                                <h3 class="tab-title">Product Review</h3>#}
{#                                <div class="product-review">#}
{#                                    <div class="media">#}
{#                                        <!-- Avater -->#}
{#                                        <img src="images/user/user-thumb.jpg" alt="avater">#}
{#                                        <div class="media-body">#}
{#                                            <!-- Ratings -->#}
{#                                            <div class="ratings">#}
{#                                                <ul class="list-inline">#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <i class="fa fa-star"></i>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <i class="fa fa-star"></i>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <i class="fa fa-star"></i>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <i class="fa fa-star"></i>#}
{#                                                    </li>#}
{#                                                    <li class="list-inline-item">#}
{#                                                        <i class="fa fa-star"></i>#}
{#                                                    </li>#}
{#                                                </ul>#}
{#                                            </div>#}
{#                                            <div class="name">#}
{#                                                <h5>Jessica Brown</h5>#}
{#                                            </div>#}
{#                                            <div class="date">#}
{#                                                <p>Mar 20, 2018</p>#}
{#                                            </div>#}
{#                                            <div class="review-comment">#}
{#                                                <p>#}
{#                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem#}
{#                                                    accusantium doloremqe laudant tota rem ape#}
{#                                                    riamipsa eaque.#}
{#                                                </p>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="review-submission">#}
{#                                        <h3 class="tab-title">Submit your review</h3>#}
{#                                        <!-- Rate -->#}
{#                                        <div class="rate">#}
{#                                            <div class="starrr"></div>#}
{#                                        </div>#}
{#                                        <div class="review-submit">#}
{#                                            <form action="#" class="row">#}
{#                                                <div class="col-lg-6">#}
{#                                                    <input type="text" name="name" id="name" class="form-control"#}
{#                                                           placeholder="Name">#}
{#                                                </div>#}
{#                                                <div class="col-lg-6">#}
{#                                                    <input type="email" name="email" id="email" class="form-control"#}
{#                                                           placeholder="Email">#}
{#                                                </div>#}
{#                                                <div class="col-12">#}
{#                                                    <textarea name="review" id="review" rows="10" class="form-control"#}
{#                                                              placeholder="Message"></textarea>#}
{#                                                </div>#}
{#                                                <div class="col-12">#}
{#                                                    <button type="submit" class="btn btn-main">Sumbit</button>#}
{#                                                </div>#}
{#                                            </form>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h1></h1>
                    <div class="widget price text-center">
                        <h4>价格</h4>
                        <p>¥{{ book.selling }}</p>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <h4><a href="">{{ seller.username }}</a></h4>
                        <p class="member-time">注册日期 {{ seller.time|date:"Y-m-d" }}</p>
                        <a href="">查看他的商品</a>
                        <ul class="list-inline mt-20">
                            <li class="list-inline-item"><a href=""
                                                            class="btn btn-contact d-inline-block  btn-primary px-lg-4 my-1 px-md-3">私信</a>
                            </li>
                            <li class="list-inline-item"><a href=""
                                                            class="btn btn-offer d-inline-block btn-primary ml-n1 my-1 px-lg-4 px-md-3">购买</a>
                            </li>
                        </ul>
                    </div>

                    <div class="widget rate">
                        <!-- Heading -->
                        <h5 class="widget-header text-center">我要评价这本图书</h5>
                        <!-- Rate -->
                        <div class="starrr"></div>
                    </div>
                    <!-- Safety tips widget -->
                    <div class="widget disclaimer">
                        <h5 class="widget-header">安全提示</h5>
                        <ul>
                            <li>在公共场所与卖家见面</li>
                            <li>购买前请仔细检查商品</li>
                            <li>在收到商品后付款！</li>
                            <li>在收到商品后付款！</li>
                            <!-- <li>Pay only after collecting the item</li> -->
                        </ul>


                    </div>
                </div>

            </div>
        </div>
        <!-- Container End -->
</section>

{% include 'app/footer.html' %}
<!-- JAVASCRIPTS -->
{% include 'app/script.html' %}
<!-- JAVASCRIPTS -->

</body>

</html>