{% load notifications_tags %}
{% notifications_unread as unread_count %}
<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
    <div class="sidebar">
        <!-- User Widget -->
        <div class="widget user-dashboard-profile">
            <!-- User Image -->
            <div class="profile-thumb">
                <img src="{{ request.user.portrait.url }}" alt="" class="rounded-circle">
            </div>
            <!-- User Name -->
            <h5 class="text-center">{{ request.user.username }}</h5>
            <p>注册日期：{{ request.user.date_joined|date:"Y-m-d" }}</p>
            <a href="{% url 'edit' %}" class="btn btn-main-sm">编辑个人信息</a>
        </div>
        <!-- Dashboard Links -->
        <div class="widget user-dashboard-menu">
            <ul>
                <li><a href="{% url 'my-ad' 1 %}"><i class="fa fa-user"></i> 我的商品 </a></li>
                <li class="active">
                    <a href="{% url 'message' 1 %}"><i class="fa fa-bookmark-o"></i> 消息中心 <span>{{ unread_count }}</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-file-archive-o"></i> 购物车 <span>12</span></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-cog"></i> 登出</a>
                </li>
            </ul>
        </div>

    </div>
</div>